.navbar {
  width: 100%;
  height: 65px;


  background-color: black;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 25px;

  
  z-index: 999;
  position: relative;
}

.hamburger{
  display: none;
}

.nav-logo-container {
  flex: 1;
  width: 200px;

  object-fit: cover;

}

.nav-logo {
  width: 130px;
  height: auto;

  
}

/* Navlinks Styes */

.nav-links {
  flex: 3;

  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  position: relative;
  float: left;
  text-decoration: none;
  color: #f6f6f6;
  font-size: 13px;
  font-weight: medium;

  padding: 10px 12px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-image: linear-gradient(to right,var(--secondary-color), var(--primary-color));
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: .2s all ease-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

/* Nav BTN */

.nav-btn-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}




@media screen and  (max-width: 768px){



  .hamburger{
    display: block;
  }
  .nav-logo-container{
   
    padding-left: 30px;
  }
  .nav-links{
    
    background-color: #141318;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 65px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    padding-left: 20px;
    transform: translateX(-100vw);
    transition: .5s ease-in-out;
  }

  .nav-open{
    transform: translateX(0vw);
  }

  .nav-link{
    font-weight: bolder;
    font-size: 22px;
 
  }

  


}


@media screen and (max-width:768px) {
  

   .nav-logo-container{
   
 
    flex: 3;
    display: flex;
    justify-content: center;
  }


  
  .navBtn{
  width: 100px !important;
  font-size: 12px !important;
}
}

