.navbar {
  width: 90%;
  height: 65px;
 
  


 position: fixed;
 top: 20px; 
 left: 50%;
 transform: translateX(-50%);


  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 25px;

  border-radius: 200px;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.8); /* semi-transparent black */
  border-radius: 16px;
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.5),   /* strong shadow */
    0 0 60px rgba(0, 0, 0, 0.4);     /* soft black glow */
  backdrop-filter: blur(25px);       /* very heavy blur */
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.1); /* subtle white border */



  
  z-index: 999;
 


}

.hamburger{
  display: none;
}

.nav-logo-container {
  flex: 1;
  width: 200px;

  object-fit: cover;

}

.nav-logo {
  width: 150px;
  height: auto;

  
}

/* Navlinks Styes */

.nav-links {
  flex: 3;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav-link {
  position: relative;
  float: left;
  text-decoration: none;
  color: #f6f6f6;
  font-size: 15px;
  font-weight: medium;

  padding: 10px 12px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-image: linear-gradient(to right,var(--secondary-color), var(--primary-color));
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: .2s all ease-out;
}

.nav-link:hover::after {
  transform: scale(1);
}

/* Nav BTN */

.nav-btn-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}




@media screen and  (max-width: 768px){


  .navbar{
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(0);
    border-radius: 0;
  }

  .hamburger{
    display: block;
  }
  .nav-logo-container{
   
    padding-left: 30px;
  }
  .nav-links{
    
    background-color: #141318;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 65px;
    left: 0px;
    height: 100vh;
    width: 120vw;
    padding-top: 50px;
    padding-left: 20px;
    transform: translateX(200vh);
    transition: 1s ease-in-out;
  }

  .nav-open{
    transform: translateX(0vw);
  }

  .nav-link{
    font-weight: bolder;
    font-size: 22px;
 
  }

  


}


@media screen and (max-width:768px) {
  

   .nav-logo-container{
   
 
    flex: 3;
    display: flex;
    justify-content: center;
  }


  
  .navBtn{
  width: 100px !important;
  font-size: 12px !important;
}
}

