@import "tailwindcss";


:root {
  --primary-color: #572C86;
  --secondary-color: #EC1984;
  --primary-font: var(--font-montserrat);
  --secondary-font: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat)!important;
  font-weight: 400; /* Or 500, 600, 700 — variable font supports all */
  background-color: #000000;
  color:#f6f6f6;
  padding: 0;
  margin: 0;
  position: relative;

}

h1,h2{
    font-weight: bold;
}

/* Important */

.section-wrapper{
    width: 88%;

    margin: auto;
    padding: 100px 20px;
  
}


