@import "tailwindcss";


:root {
  --primary-color: #6e00ff;
  --secondary-color: #ff00e6;
  --primary-font: var(--font-montserrat);
  --secondary-font: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat)!important;
  font-weight: 400; /* Or 500, 600, 700 — variable font supports all */
background-color: #000000;
  color:#f6f6f6;
  padding: 0;
  margin: 0;
  position: relative;

}

h1,h2{
    font-weight: 600;
}

/* Important */


.section-wrapper{
    width: 88%;

    margin: auto;
    padding: 100px 20px;
  
}

@media (max-width: 768px) {
  .section-wrapper {
    width: 100%;
    padding: 50px 20px;
  }
}


/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #141318;  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  border-radius: 10px;
}

/* Handle on hover */





