.serviceWrapper{

  -webkit-backdrop-filter: blur(22px);
backdrop-filter: blur(22px);
background: 
  linear-gradient(0deg, #6e00ff26, #6e00ff26), /* Primary with transparency */
  radial-gradient(79.29% 94.78% at 59.78% 129.81%, #7f5eb6  0%, #26214900), /* Secondary fading out */
  linear-gradient(180deg, #6e00ff, #26214900); /* Primary fading to transparent */
/* border: 1px solid rgba(255, 0, 230, 0.3); Secondary as border color with 30% opacity */

  border-radius: 26px;

  transition: .4s ease-in-out;
}





.service-card {

 border-radius: 26px;
  width: 382px;
  height: 180px;
  
  position: relative;

  display: flex;
  flex-direction: column;

}







.service-content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  padding: 15px 15px;

  
}



.service-title {
  font-size: 1.7rem;
  margin: 5px 0;
  text-align: left;
}

.service-description {
  font-size: 13px;
  text-align: left;
  margin: 5px 0;
  margin-bottom: 10px;
}

.serviceWrapper:hover{
  transform: translateY(-10px);
}

.cardBtn{
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  width: 40px;
  height: 40px;
   background: #f6f6f6;
  border-radius: 100%;

}



/* Rectangle 4 */





@media screen and (max-width: 768px) {
  /* .service-card {
    width: 90%;
    min-height: 300px;
    height: auto;
  } */
}
